@charset "utf-8";
/* 全局属性*/
html {overflow-y:scroll;}
body{ background:#fff}
body {margin:0; padding:0;  font:12px/1.5 "Microsoft YaHei","SimHei","SimSun",Arial,sans-serif; color:#333;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
td{font-size:16px;padding:5px 10px}
ol,ul {list-style:none;margin:0;padding:0}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
a{color:#333;text-decoration:none}
a:hover{color:#337eff;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
img{border:0;vertical-align:middle;}
img:hover{opacity:0.9; -moz-opacity:0.9; filter:alpha(opacity=90);}

.dheader{ height:30px; border-bottom:1px solid #efefef;border-bottom:1px solid #e6e6e6; background:#f6f6f6;}
.header{ height:30px; margin:0 auto;}
.header_left{ line-height:30px; float:left; color:#666; padding-right:10px; padding-left:15px;}
.header_right{ float:right; height:30px; line-height:30px; color:#666; padding-right:15px;}
.header_right a{ color:#666}
.header_right a:hover{color:#f25125}

.top{ width:1100px; height:130px; margin:0 auto;}
.logo{ width:386px; float:left;height:82px;padding-top: 38px;}
.so{ width:589px; height:87px; float:left; padding-top:43px;}
.search_input {
    width:406px;
    float: left;
    border: 0;
    padding: 0 0 0 8px;
    color: #999;
    height: 38px;
    border: none;
    outline: none; border:1px solid #dddddd; border-right:none; line-height:38px;
	font: 14px/1.5 "Microsoft YaHei","SimHei","SimSun",Arial,sans-serif;
}
.search_botton {
    cursor: pointer;
    float: left;
    height: 40px;
    width: 100px;
    background: #337eff;
    border: none;
    color: #FFF;
    line-height: 40px;
    font: 16px/1.5 "Microsoft YaHei","SimHei","SimSun",Arial,sans-serif;
    padding-left: 0px;
    overflow: hidden;
    display: block;
}

.topdenglu{font-size: 12px;
    line-height: 22px;
    float:left;
    width: 44px;
    height: 22px;
    margin:52px 0 0 0px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 2px;}

.btn-top-edit {
    float: right;
    margin-left: 40px;
    line-height: 35px;
    width: 36px;
    height: 36px;
	text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #337eff; margin-top:46px;
}
.btn-top-edit i {
    margin: 9px auto 0;
    width: 16px;
    height: 19px;
	background:url(images/xiezuo.png) no-repeat;
    display: block;
}




.nav .inbox{ overflow: visible; width:1100px; margin:0 auto;}
.nav {
    position: relative;
    z-index: 999;
    background: #f25126;
}
.nav-list > li{float:left;height: 46px;position: relative;}
.nav-list .one{display: block;height: 46px;line-height: 46px;font-size: 16px;padding: 0 50px; }

.fenlei{background:url(images/fenlei.png) no-repeat 118px 20px;display: block;height: 46px;line-height: 46px;font-size: 16px;padding: 0 70px;color:#FFF;}
.fenlei:hover{color:#FFF; background:#4d8eff url(images/fenlei.png) no-repeat 118px 20px;text-decoration:none; height:46px;}


.faxian{background: url(images/faxian.png) no-repeat 104px 8px;display: block;height: 46px;line-height:46px;font-size: 16px;padding: 0 70px;color:#FFF;}
.faxian:hover{color:#FFF; background:#4d8eff url(images/faxian.png) no-repeat 104px 8px;text-decoration:none; height:46px;}

.shouji {
    background: #4d8eff url(images/shouji.png) no-repeat 31px 13px;
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #FFF;
    float: right;
    width: 112px;
    padding-left: 55px;
}
.shouji:hover{color:#FFF; background: #4d8eff url(images/shouji.png) no-repeat 31px 13px; height:46px;}

.nav-list .sub-nav{ position: absolute; left:100%; top: 100%; margin-left: -213px;
    width: 250px;border: #eee solid 1px; background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);}

.sub-nav .j{position: absolute; left: 50%; top:-16px; margin-left: -8px;
    display: block; line-height: 0; height: 0; font-size: 0;}
.sub-nav .j:after,
.sub-nav .j:before{content: ""; display:block; width:0; height:0; border-style:solid;border-width:8px;
    position: absolute; left: 0; top: 0;}
.sub-nav .j:after{ border-color:transparent transparent #fff transparent; top:1px;}
.sub-nav .j:before{ border-color:transparent transparent #ddd transparent; }

.sub-nav-list{ padding:16px 20px; overflow: hidden; }
.sub-nav-list a{ float: left; width: 50%; line-height: 32px; font-size:14px; text-align:center;}

.sub-nav{display: none;  }
.nav-list > li:hover .sub-nav{display: block;}
/*IE9及以上浏览器*/
@media screen and (min-width:1024px) and (max-width:2920px){
    .sub-nav{
        display: block;
        opacity: 0;
        -ms-transform:scale(0,0);
        -webkit-transform:scale(0,0);
        transform:scale(0,0);

        -ms-transform-origin:50% 10%;
        -webkit-transform-origin:50% 10%;
        transform-origin:50% 10%;

        -webkit-transition:all .3s ease 0s;
        transition:all .3s ease 0s;
    }
    .nav-list > li:hover .sub-nav{
        opacity: 1;
        -ms-transform:scale(1,1);
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
    }
}


























.menu_bg{ width:100%;height:46px; background:#337eff; clear:both;border-bottom:1px solid #2d71e5;box-shadow:0 1px 2px rgba(0,0,0,.2);}
.menu{ width:1100px; height:46px; margin:0 auto;}
.menu ul{ display:block; height:46px; width:830px; display:block; float:left;}
.menu li {
    float: left;
    display: inline-block;
    height:46px;
    border-left:1px solid #f66640;
    line-height:46px;
    font-size:16px;
    padding:0px 48px 0px 48px;
}


.menu_title {
    font-size: 21px;
    line-height: 1.01em;
    padding-top: 11px;
    float: left; color:#FFF;
}
.one{ color:#FFF;}
.one:hover{color:#FFF; background:#4d8eff;text-decoration:none; height:46px;}
.menu a{ color:#FFF;}
.menu a:hover{ color:#FFF;}






/*------ 底部 ------*/

.bottom_bg{ height:175px; border-top:1px solid #f1f1f1; background:#f5f5f5;}
.bottom_a {
    width: 1100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto; color:#dcdcdc; padding-top:10px;
}
.bottom_a a{ padding-right:10px; padding-left:10px; color:#8a8a8a}
.bottom_a a:hover{color:#f25126}

.bottom_c {
    width: 1100px;
    text-align: center;
    padding: 10px 0px;
    margin: 0 auto; color:#9e9e9e; line-height:28px;
}
.bottom_b {
    width: 1100px;
    text-align: center; margin: 0 auto;
}












