# npm
package-lock.json
node_modules

# yarn
yarn.lock
yarn-error.log

# pnpm
pnpm-lock.yaml

# vscode
.vscode

# vuepress
docs/.vuepress/dist

# 百度链接推送
urls.txt

# mac
.DS_Store
*.mjs



#################################################################################
##      gradle::
#################################################################################

.gradle
/build/

### Ignore Gradle GUI config   ###
gradle-app.setting

###
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
###

!gradle-wrapper.jar

### Cache of project   ###
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.metadata
RemoteSystemsTempFiles
.gradle
.settings
build

.project




#################################################################################
##      java Editor directories and files::
#################################################################################


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
build.xml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### other   ###
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

#################################################################################
##      java::
#################################################################################

*.class


### maven  ###
target
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### spring-boot-log   ###
*.gz
*.tmp
*.log
*.log.lck
*.log.*

#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**




#################################################################################
##      pd::
#################################################################################
*.pdb
# mybatis-generator.xml
*.db




##################################################################################
#			前端:
##################################################################################




.DS_Store
node_modules/
dist/
package-lock.json


### npm  ###
npm-debug.log*

### yarn ###
yarn-debug.log*
yarn-error.log*
yarn.lock

### test:  ###
tests/**/coverage/
tests/e2e/reports


### log ###
selenium-debug.log
**/*.log

### VS Code ###
.vscode/







##################################################################################
#			ys 后端规范:
##################################################################################
webDownLoad