# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml



# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
xf-ms-dao/*.iml/
xf-ms-model/*.iml/
xf-ms-service/*.iml/
xf-ms-utils/*.iml/
xf-ms-web/*.iml/
xf-ms-timer/*.iml/
# Mac
.DS_Store

# Maven
xf-ms-dao/target/
xf-ms-model/target/
xf-ms-service/target/
xf-ms-utils/target/
xf-ms-web/target/
xf-ms-timer/target/
# log
logs/
log/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar




#################################################################################
##      gradle::
#################################################################################

.gradle
/build/

### Ignore Gradle GUI config   ###
gradle-app.setting

###
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
###

!gradle-wrapper.jar

### Cache of project   ###
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.metadata
RemoteSystemsTempFiles
.gradle
.settings
build

.project




#################################################################################
##      java Editor directories and files::
#################################################################################


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
build.xml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### other   ###
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

#################################################################################
##      java::
#################################################################################

*.class


### maven  ###
target
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### spring-boot-log   ###
*.gz
*.tmp
*.log
*.log.lck
*.log.*

#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**




#################################################################################
##      pd::
#################################################################################
*.pdb
# mybatis-generator.xml
*.db




##################################################################################
#			前端:
##################################################################################




.DS_Store
node_modules/
dist/
package-lock.json


### npm  ###
npm-debug.log*

### yarn ###
yarn-debug.log*
yarn-error.log*
yarn.lock

### test:  ###
tests/**/coverage/
tests/e2e/reports


### log ###
selenium-debug.log
**/*.log

### VS Code ###
.vscode/







##################################################################################
#			ys 后端规范:
##################################################################################
webDownLoad

















##################################################
##    Golang项目常用 .gitignore 模板
##    https://blog.csdn.net/weixin_44778151/article/details/122204407
##################################################
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.apk


