.dayTitle {
	width: 100%;
	color: #666;
	line-height:2.2em;
	font-size:22px;
	clear:both;
	border-bottom:1px solid #ccc;
	text-align: left;
}
#blogTitle h2 {
	margin-left: 4em;
	line-height: 1.5;
	width: 60%;
	float: left;
}